
document, body{
    font-family: Arial, Helvetica, sans-serif;    
    padding: 5px;
    margin: 0;
}

table{
    border: 0;
    padding: 0;
    margin: 5px;
}

table input[type="text"]{
    height: 40px;
    border: 0;
    border-bottom: 2px #aaa solid;
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
}

table input[type="text"]:focus{
    outline: none;
    border-bottom-color: #000222;
}

#txtAddress{
    width: 200px;
}

#txtPort, #txtQuantity{
    width: 70px;
}


table input[type="button"]{
    height: 40px;
    width: 100px;
    border: 0;
    background-color: #005500;
    color: #fff;
    margin-top: 5px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    outline: none
}

table input[type="button"]:active{
    opacity: .9;
}

#monitor{
    width: 700px;
    height: 500px;
    background-color: #000222;
    color: #fff;
    overflow: auto;
    padding: 5px;
}

#monitor>span{
    color: #fff;
    font-size: 15px;
    font-weight: 100
}